:javascript
  RED.nodes.registerType('web-synth-sound',{
      category: 'function',
      color: '#99d8c9',
      defaults: {
          name: {value:""}
      },
      inputs:1,
      outputs:1,
      icon: "file.png",
      label: function() {
          return this.name||" web-synth-sound";
      }
  });

%script{"data-template-name" => "web-synth-sound-tmpltNAME", :type => "text/x-red"}
  :cdata
    <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
    </div>
%script{"data-help-name" => "web-synth-dtaHLPname", :type => "text/x-red"}
  :cdata
    <p>A simple node that converts the message payloads into all web-synth characters</p>
